//-------------------------------------------------------------------
// Slim script to study the fate of a new inversion in the absence of gene conversion, starting from a preexiting burn-in file. 
// Usage: slim -seed 42 -d indv=42 -d haplo=1 -d s_het=1.03 -d n_sam=100 ./inversion_forall_nogc_larger_inversion.slim, see also for_each_indv_gc.sh
//-------------------------------------------------------------------

//-------------------------------------------------------------------
// Initialization of the population. Paraneter should be identical to the burn in file
//-------------------------------------------------------------------

initialize() {
	initializeMutationRate(8.4e-7); // Deleterious mutation rate estimated in D. melano. From Haag-Liautard, C. et al. Nature 445, 82-85, (2007)
	
	initializeMutationType("m5", 0, "g", -0.05, 0.5);// fitness effect of deleterious mutations drawn from a gamma distribution of parameter alpha=0.5 and beta=10. Note that value provide here are not the parameter of the gamma distribution but the mean of the distribution -(alpha/beta) and alpha. 
	
	initializeMutationType("m6", 0, "f", 0);// mutation marker for the inversion
	
	initializeGenomicElementType("g2", m5, 1.0);// defines exons; they only contains deleterious mutations. Due to computational speed limits, neutral mutations are ignored.

	// 3 chromosomes of length 100 kb with uniform recombination with 6 exons of 5k length
	
	// chrm 1
	initializeGenomicElement(g2, 10000, 14999);
	initializeGenomicElement(g2, 25000, 29999);
	initializeGenomicElement(g2, 40000, 44999); 
	initializeGenomicElement(g2, 55000, 59999); 
	initializeGenomicElement(g2, 70000, 74999); 
	initializeGenomicElement(g2, 85000, 89999); 

	//chrm 2
	initializeGenomicElement(g2, 110000, 114999);
	initializeGenomicElement(g2, 125000, 129999);
	initializeGenomicElement(g2, 140000, 144999); 
	initializeGenomicElement(g2, 155000, 159999); 
	initializeGenomicElement(g2, 170000, 174999); 
	initializeGenomicElement(g2, 185000, 189999); 

	//chrm 3
	initializeGenomicElement(g2, 210000, 214999);
	initializeGenomicElement(g2, 225000, 229999);
	initializeGenomicElement(g2, 240000, 244999); 
	initializeGenomicElement(g2, 255000, 259999); 
	initializeGenomicElement(g2, 270000, 274999); 
	initializeGenomicElement(g2, 285000, 289999); 

	// define recombination rate between two adjacent positions. Recombination in Slim corresponds to the sum of crossing over and gene conversion rate. Values are based on Betancourt (2002) and Miller (2012)   
  	initializeRecombinationRate(c(0.0000024,0.5,0.0000024,0.5,0.0000024),c(99999,100000,199999,200000,299999));   

}
//-------------------------------------------------------------------
// Define the recombination callback to prevent crossing over to happens when an individual is carrying a copy of each arrangement (tracked through the m6 position). It prevents the formation of a breakpoints in the inversion region. Compare to the usual scenario, breakpoints have been modified to model a larger inversion (leading to the tracker mutation being also moved to remain next to the breakpoint). 
//-------------------------------------------------------------------

recombination() { 
	if (genome1.containsMarkerMutation(m6, 35002) == genome2.containsMarkerMutation(m6, 35002)) 
		return F;
	inv = (breakpoints > 35000) & (breakpoints < 95000);  
	if (sum(inv) == 0) 
		return F;   
	breakpoints = breakpoints[!inv];

	return T;  
}

//-------------------------------------------------------------------
// Simulation section
//-------------------------------------------------------------------


// read the burn in file and create the inversion in individual -indv- in haplotype -haplo-. These two values are provided in the slim call.


500000 late () {
	sim.readFromPopulationFile("./burn_in.txt");
	target=p1.individuals[indv];
    gen=target.genomes[haplo];
    gen.addNewDrawnMutation(m6,35002);
}

// Define the fitness function callback to provide a fitness advaantage of 1.03 to heterokyryotypes individuals
500000:1000001 fitness(m6){
	if (genome1.countOfMutationsOfType(m6)+genome2.countOfMutationsOfType(m6)==1)
		return s_het;
	else
		return relFitness;
}

// Tracking the really early stage of the simulation, with the fitness of the whole population and the frequency of the inversion being output every 200 generations.
500002:510000 early() {
	if (sim.generation % 200 == 0) {
		sim.outputMutations(sim.mutationsOfType(m6),filePath="./inversion_counts.txt",append=T);
		writeFile("./fitness_p1.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_p1.txt",paste(p1fit,", "),append=T);
	    g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_p1.txt",paste(g1fit,", "),append=T);
	}
	// Check consition to stop the simulations if the inversion is either lost or fixed in the whole population. Export the final stage of the final status of the population.
	if (sim.countOfMutationsOfType(m6)==0){
		sim.outputMutations(sim.mutationsOfType(m6),filePath="./inversion_counts.txt",append=T);
		sim.outputMutations(sim.mutationsOfType(m5),filePath="./del_mutations.txt",append=T);
	    writeFile("./fitness_p1.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_p1.txt",paste(p1fit,", "),append=T);
	    g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_p1.txt",paste(g1fit,", "),append=T);
	    sim.outputFixedMutations(filePath="./inversion_data_fm.txt");
		sim.simulationFinished();
   	}
}
// Tracking the early stage of the simulation, with the fitness of the whole population and the frequency of the inversion being output every 1000 generations.
510001:520000 early() {
	if (sim.generation % 1000 == 0) {
		sim.outputMutations(sim.mutationsOfType(m6),filePath="./inversion_counts.txt",append=T);
		writeFile("./fitness_p1.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_p1.txt",paste(p1fit,", "),append=T);
	    g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_p1.txt",paste(g1fit,", "),append=T);
	}
	// Check consition to stop the simulations if the inversion is either lost or fixed in the whole population. Export the final stage of the final status of the population.
	if (sim.countOfMutationsOfType(m6)==0){
		sim.outputMutations(sim.mutationsOfType(m6),filePath="./inversion_counts.txt",append=T);
		sim.outputMutations(sim.mutationsOfType(m5),filePath="./del_mutations.txt",append=T);
	    writeFile("./fitness_p1.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_p1.txt",paste(p1fit,", "),append=T);
	    g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_p1.txt",paste(g1fit,", "),append=T);
	    sim.outputFixedMutations(filePath="./inversion_data_fm.txt");
		sim.simulationFinished();
   	}
}

// Tracking the early stage of the simulation, with the fitness of the whole population and the frequency of the inversion being output every 10000 generations.
520001:1000000 early() {
	if (sim.generation % 10000 == 0) {
		sim.outputMutations(sim.mutationsOfType(m6),filePath="./inversion_counts.txt",append=T);
		writeFile("./fitness_p1.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_p1.txt",paste(p1fit,", "),append=T);
	    g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_p1.txt",paste(g1fit,", "),append=T);
	}
	// Check consition to stop the simulations if the inversion is either lost or fixed in the whole population. Export the final stage of the final status of the population.
	if (sim.countOfMutationsOfType(m6)==0){ 
		sim.outputMutations(sim.mutationsOfType(m6),filePath="./inversion_counts.txt",append=T);
		sim.outputMutations(sim.mutationsOfType(m5),filePath="./del_mutations.txt",append=T);
	    writeFile("./fitness_p1.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_p1.txt",paste(p1fit,", "),append=T);
	    g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_p1.txt",paste(g1fit,", "),append=T);
	    sim.outputFixedMutations(filePath="./inversion_data_fm.txt");
		sim.simulationFinished();
   	}
}

// If the inversion is still polymorphic at the end of the run, we export the full population for further analysis.
1000000 late() {
	sim.outputFull("./final_population.txt");
}

// In addition we export the fitness and tne inversion frequency. Given how Slim is implemented, fitness of generation 1 000 000 is obtained through an exporting the values in generation 1 000 001, as an early event. 
1000001 early() {
		sim.outputMutations(sim.mutationsOfType(m6),filePath="./inversion_counts.txt",append=T);
		sim.outputMutations(sim.mutationsOfType(m5),filePath="./del_mutations.txt",append=T);
	    writeFile("./fitness_p1.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_p1.txt",paste(p1fit,", "),append=T);
	    g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_p1.txt",paste(g1fit,", "),append=T);
	    sim.outputFixedMutations(filePath="./inversion_data_fm.txt");
		sim.simulationFinished();
}

