//-------------------------------------------------------------------
// Slim script to replicate the potential clustering, through a decreased in recombination rate instead of an inversion. 
// Usage: slim -seed 42 -d rec=0.00000042 -d gen_conv=0.42 -d s_het=1.03 -d Npop=4242 ./segregation_only.slim, see also seg_test.sh
//-------------------------------------------------------------------
//-------------------------------------------------------------------
// Initialization of the population. Paraneter should be identical to the burn in file
//-------------------------------------------------------------------
initialize() {
	initializeMutationRate(8.4e-7); // Deleterious mutation rate estimated in D. melano. From Haag-Liautard, C. et al. Nature 445, 82-85, (2007) 
	
	initializeMutationType("m5", 0, "g", -0.05, 0.5);// fitness effect of deleterious mutations drawn from a gamma distribution of parameter alpha=0.5 and beta=10. Note that value provide here are not the parameter of the gamma distribution but the mean of the distribution -(alpha/beta) and alpha. 
	
	initializeMutationType("m6", 0, "f", 0);// mutation marker for the inversion
	
	initializeGenomicElementType("g2", m5, 1.0); // defines exons; they only contains deleterious mutations. Due to computational speed limits, neutral mutations are ignored.

	// define the two exons similar to the inversion simulated.
	
	initializeGenomicElement(g2, 10000, 14999);

	initializeGenomicElement(g2, 25000, 29999);


	// define recombination rate between two adjacent positions. Recombination in Slim corresponds to the sum of crossing over and gene conversion rate. Value is provided by the bash script.

  	initializeRecombinationRate(rec); 
  	initializeGeneConversion(gen_conv, 50);
}

// create one population of 2500 individuals and give the marker m6 to half of the population to mimic a quick rise in frequency of the inversion.
1 {
	sim.addSubpop("p1", Npop);
	target=p1.individuals[0];
    gen=target.genomes[0];
    gen.addNewDrawnMutation(m6,20000);
    mut=sim.mutationsOfType(m6);
    for (i in 1:(Npop-1)){
   		target=p1.individuals[i];
    	gen=target.genomes[0];
    	gen.addMutations(mut);
   }
}

// Define the fitness fucntion callback to provide a fitness advaantage of 1.03 to heterokyryotypes individuals
1:200000 fitness(m6){
	if (genome1.countOfMutationsOfType(m6)+genome2.countOfMutationsOfType(m6)==1)
		return s_het;
	else
		return relFitness;
}

// Tracking the early stage of the simulation, with the fitness of the whole population and the frequency of the pseudo-inversion being output every 1000 generations.
2:200000 early(){
	if (sim.generation % 1000 == 0) {
		writeFile("./fitness_pop.txt",paste(sim.generation),append=T);
	    p1fit=p1.cachedFitness(NULL);
	    writeFile("./fitness_pop.txt",paste(p1fit,", "),append=T);
		g1fit=p1.individuals.countOfMutationsOfType(m6);
	    writeFile("./fitness_pop.txt",paste(g1fit,", "),append=T);
	}
}
// If the inversion is still polymorphic at the end of the run, we export the full population for further analysis.
200000 late(){
	sim.outputFull("./seg_full_pop.txt");
}