//-------------------------------------------------------------------
// Slim script to study the fate of a new inversion in the absence of gene conversion, starting from a preexiting burn-in file. 
// Usage: slim ./slim_burn_in.slim
//-------------------------------------------------------------------

//-------------------------------------------------------------------
// Initialization of the population. Paraneter should be identical to the burn in file
//-------------------------------------------------------------------

initialize() {
	initializeMutationRate(8.4e-7); // Deleterious mutation rate estimated in D. melano. From Haag-Liautard, C. et al. Nature 445, 82-85, (2007) 
	
	initializeMutationType("m5", 0, "g", -0.05, 0.5);// fitness effect of deleterious mutations drawn from a gamma distribution of parameter alpha=0.5 and beta=10. Note that value provide here are not the parameter of the gamma distribution but the mean of the distribution -(alpha/beta) and alpha. 
	
	initializeMutationType("m6", 0, "f", 0);// mutation marker for the inversion
	
	initializeGenomicElementType("g2", m5, 1.0); // defines exons; they only contains deleterious mutations. Due to computational speed limits, neutral mutations are ignored.

	// 3 chromosomes of length 100 kb with uniform recombination with 6 exons of 5k length
	
	// chrm 1
	initializeGenomicElement(g2, 10000, 14999);
	initializeGenomicElement(g2, 25000, 29999);
	initializeGenomicElement(g2, 40000, 44999); 
	initializeGenomicElement(g2, 55000, 59999); 
	initializeGenomicElement(g2, 70000, 74999); 
	initializeGenomicElement(g2, 85000, 89999); 

	//chrm 2
	initializeGenomicElement(g2, 110000, 114999);
	initializeGenomicElement(g2, 125000, 129999);
	initializeGenomicElement(g2, 140000, 144999); 
	initializeGenomicElement(g2, 155000, 159999); 
	initializeGenomicElement(g2, 170000, 174999); 
	initializeGenomicElement(g2, 185000, 189999); 

	//chrm 3
	initializeGenomicElement(g2, 210000, 214999);
	initializeGenomicElement(g2, 225000, 229999);
	initializeGenomicElement(g2, 240000, 244999); 
	initializeGenomicElement(g2, 255000, 259999); 
	initializeGenomicElement(g2, 270000, 274999); 
	initializeGenomicElement(g2, 285000, 289999); 

	// define recombination rate between two adjacent positions. Recombination in Slim corresponds to the sum of crossing over and gene conversion rate.   
  	initializeRecombinationRate(c(0.0000024,0.5,0.0000024,0.5,0.0000024),c(99999,100000,199999,200000,299999));   
	// define the ratio of recombination event that should be converted to gene conversion events. The rest of those events will be considered as simple crossing over events. 
  	initializeGeneConversion(0.375, 50);
}

//-------------------------------------------------------------------
// Simulation section
//-------------------------------------------------------------------

// create one population of 2500 individuals
1 {
	sim.addSubpop("p1", 2500);
}

2:500000 late(){
if(sim.generation % 10000 == 0 ){
	print(sim.generation);
	}
}

// In generation 500 000 export the population.
500000 late() {
	sim.outputFixedMutations("./fixed_mutations_beginning.txt",append=F);
	sim.outputMutations(sim.mutationsOfType(m5),filePath="./del_mutations_beginning.txt",append=F);
	writeFile("./fitness_p1_beginning.txt",paste(sim.generation),append=T);
	sim.outputFull("./burn_in.txt");
}

// save the fitness of the burn-in population.
500001 early() {
	p1fit=p1.cachedFitness(0:2499);
	writeFile("./fitness_p1_beginning.txt",paste(p1fit,", "),append=T);
	sim.simulationFinished();
}
